.topicBlock {
  /* display: flex; */
  padding: 10px;
  border: 1px solid grey;
}

.topicImg {
  min-width: 100px;
  max-width: 150px;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid grey;
}

.titleTopic {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid grey;
}
